<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home Page</title>
</head>
<body>
    <h1> Here you can view the inclusions of one line in another for whatever reason</h1>
<h4>Now enter it in the boxes below:</h4>
<form method="post" action="/Results">
    <input type="text" name="main_string" placeholder="Enter your string">
    <br><br>
    <input type="text" name="include_string" placeholder="Enter your second string">
    <input type="submit" value="Search" name="ok"/>
</form>
</body>
</html>